@model anime_tracker.Models.ViewModels.DetailsAnime
@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Model.SelectedAnime.anime_title</h2>
    <nav>
        <h5>
            | <a href="/Anime/List"><b>Return</b> to Anime Collection</a> |
            <a href="/Anime/Edit/@Model.SelectedAnime.anime_id"><b>Update</b> Anime Information</a> |
            <a href="/Anime/DeleteConfirm/@Model.SelectedAnime.anime_id"><b>Delete</b> Anime</a> |
        </h5>
    </nav>
</div>
<div>
    <h3>Information</h3>
</div>
<div><b>Type: </b>@Model.SelectedAnime.anime_type_name</div>
@*<div><b>Genre: </b>@Model.genre</div>*@
<div><b>Status: </b>@Model.SelectedAnime.status</div>
<div><b>Airing Start Date: </b>@Model.SelectedAnime.start_date</div>
<div><b>Airing End Date: </b>@Model.SelectedAnime.end_date</div>
<div><b>Activity: </b>@Model.SelectedAnime.activity</div>
<div><b>Completed Episodes: </b>@Model.SelectedAnime.completed_episodes</div>
<div><b>Total Episodes: </b>@Model.SelectedAnime.total_episodes</div>
<div><b>Rating: </b>@Model.SelectedAnime.rating/10</div>
<div><b>Favourite: </b>@(Model.SelectedAnime.favorite ? "Yes" : "No")</div>