@model anime_tracker.Models.ViewModels.UpdateAnime

@{
    ViewBag.Title = "Add New Anime";
}
<div>
    <h2>Add New Anime</h2>
    <h5>| <a href="/Anime/Details/@Model.SelectedAnime.anime_id">Cancel Editing & Return to Anime Collection</a> |</h5>
</div>

<form action="/Anime/Create" method="POST">
    <div>
        <label>Title of Anime:</label> <input type="text" name="anime_title" value="@Model.SelectedAnime.anime_title"/>
    </div>
    <div>
        <label>Type of Anime:</label>
        <select name="anime_type_id">
            @foreach (var animeType in Model.AnimeTypesOptions)
            {
                <option value="@animeType.anime_type_id">@animeType.anime_type_name</option>
            }
        </select>
    </div>
    @*<div>
            <label>Genre:</label>
                @foreach(var genre in Model.GenreOptions)
            {
            <option value="@genre.genre_id">@genre.genre_name</option>
            }
        </div> *@
    <div>
        <label>Status:</label>
        <select name="status" value="@Model.SelectedAnime.status">
            <option value="Upcoming">Upcoming</option>
            <option value="Airing">Airing</option>
            <option value="Finished">Finished</option>
        </select>
    </div>
    <div>
        <label>Airing Start Date:</label> <input type="date" name="start_date" value="@Model.SelectedAnime.start_date"/>
    </div>
    <div>
        <label>Airing End Date:</label> <input type="date" name="end_date" value="@Model.SelectedAnime.end_date"/>
    </div>
    <div>
        <label>Activity:</label>
        <select name="activity" value="@Model.SelectedAnime.activity">
            <option value="Plan to Watch">Plan to Watch</option>
            <option value="Watching">Watching</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
    <div>
        <label>Completed Episodes:</label> <input type="number" name="completed_episodes" value="@Model.SelectedAnime.completed_episodes"/>
    </div>
    <div>
        <label>Total Episodes:</label> <input type="number" name="total_episodes" value="@Model.SelectedAnime.total_episodes" />
    </div>
    <div>
        <label>Rating:</label>
        <select name="rating" value="@Model.SelectedAnime.rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        /10
    </div>
    <div>
        <label>Favourite:</label> <input type="checkbox" value="@Model.SelectedAnime.favorite" name="favorite" />
    </div>
    <div>
        <input type="submit" value="Update Anime" />
    </div>
</form>