@model IEnumerable<anime_tracker.Models.AnimeDto>
@{
    ViewBag.Title = "Your Anime Collection";
}
<div>
    <h2>Your Anime Collection</h2>
    <nav>
        <h5>| <a href="/Anime/New"><b>Add</b> New Anime</a> |</h5>
    </nav>
</div>

@foreach (var anime in Model)
{
    string fav = anime.favorite ? "Yes" : "No";
    <h2><a href="/Anime/Details/@anime.anime_id"><b>@anime.anime_title</b></a></h2>
    @*<div><b>Type ID: </b>@anime.anime_type_id</div>*@
    <div><b>Type: </b>@anime.anime_type_name</div>
    <div><b>Status: </b>@anime.status</div>
    <div><b>Activity: </b>@anime.activity</div>
    <div><b>Rating: </b>@anime.rating/10</div>
    <div><b>Favourite: </b>@fav</div>
}
